* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(225, 100%, 94%);
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

.card {
  max-width: 450px;
  min-width: 340px;
  margin: 100px auto 0 auto;
  background-color: white;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.card__image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  padding: 48px;
}

.card__title {
  margin-bottom: 16px;
  font-size: 28px;
  color: hsl(223, 47%, 23%);
}

.card__description {
  margin-bottom: 20px;
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
}

.card__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 34px;
}

.card__group {
  display: flex;
  gap: 20px;
}

.card__icon {
  height: 48px;
  width: 48px;
}

.card__plan-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.card__plan-change {
  color: hsl(245, 75%, 52%);
  font-weight: bold;
}

.card__button--primary {
  width: 100%;
  padding: 15px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.card__button--secondary {
  margin-top: 30px;
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 450px) {
  .card {
    max-width: 340px;
    margin: 70px auto 0 auto;
  }

  .card__content {
    padding: 26px;
  }

  .card__title {
    font-size: 22px;
  }

  .card__plan {
    padding: 18px;
    margin-bottom: 25px;
  }

  .card__plan-info {
    gap: 3px;
  }

  .card__button--secondary {
    margin-top: 20px;
  }
}
